/* REMOVE SCROLLBAR */
body::-webkit-scrollbar {
  display: none; /* Chrome , Edge , Opera and Brave */
}

body {
  -ms-overflow-style: none; /* Legacy IE and Edge */
  /* HIDE SCROLLBAR FOR SAFARI AND FIREFOX*/
  user-select: none;
}

/* PADDING BLOCKS */
.p0 {
  padding: 0;
}

.pt50 {
  padding-top: 50px;
}

.pt100 {
  padding-top: 100px;
}

.pt150 {
  padding-top: 150px;
}

.pt200 {
  padding-top: 200px;
}

.pt250 {
  padding-top: 250px;
}

/* MARGIN BLOCKS */
.m0 {
  margin: 0;
}

.ms5 {
  margin: 0 5%;
}

.ms10 {
  margin: 0 10%;
}

.mb100 {
  margin-bottom: 100px;
}

/* DISPLAY BLOCKS */
.no-display {
  display: none;
  visibility: hidden;
  pointer-events: none;    
}

/* FLEX BLOCKS */
.flex-row {
  display: flex;
}

.flex-row-ac {
  display: flex;
  align-items: center;
}

.flex-row-jcac {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-sbac {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-ac {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column-jcac {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-sbac {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* POSITION BLOCKS */
.pos-fix-up {
  position: fixed;
  right: 75px;
  top: 50px;
}

.pos-fix-down {
  position: fixed;
  right: 75px;
  bottom: 50px;
}

/* BACKGROUND BLOCKS */
.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

.bg-transparent {
  background-color: rgba(0,0,0,0);
}

.bg-cvr {
  background-size: cover;
  background-repeat: no-repeat;
}

/* COLOR BLOCKS */
.clr-black {
  color: #000;
}

.clr-white {
  color: #fff;
}

.clr-grey {
  color: #2F4F4F;
}

/* FONT BLOCKS */
.font-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
}

.font-subtitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.font-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
}

.font-link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

/* TEXT BLOCKS */
.ta-ctr {
  text-align: center;
}

.td-none {
  text-decoration: none;
}

/* LIST BLOCKS */
.ls-none {
  list-style: none;
}

/* SHAPE AND BORDER BLOCKS */
.shp-circle {
  border-radius: 50%;
}

.bdr-white {
  border: 2px solid #fff;
}

/* HOVER BLOCKS */
.crs-ptr {
  cursor: pointer;
}

.hvr-opc60:hover {
  opacity: 60%;
}

/* HOME SECTION */
.home {
  height: 100vh;
  background-image: url(./images/home__background.jpg);
}

.header {
  height: 10vh;
}

.header__logo {
  /* LOGO TO BE ADDED */
}

.header__menu-item {
  margin: 0 20px 0 0;
}

.header__menu-item:last-of-type {
  margin: 0;
}

/* SCROLL BUTTON */
.scroll-button {
  width: 50px;
  height: 50px;
  transition: transform 1s ease-in;
}

.scroll-button__arrow {
  width: 30px;
  height: 30px;
}

/* ABOUT SECTION */
.about {
  height: 100vh;
}

.about__image {
  width: 30%;
  margin: 0 60px 0 0;
}

.certifications {
  min-height: 100vh;
}

.certifications__text_current {
  margin: 0 100px 0 0;
}

.certifications__list-item {
  margin: 0 50px 0 0;
}

.portfolio {
  min-height: 100vh;
}

.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 20px;
  list-style: none;
  margin-top: 0;
  padding-left: 0; 
}

.portfolio-item {
  width: 100%;
  height: 100%;
}

/* CONTACT SECTION */
.contact {
  min-height: 40vh;
  background-image: url(./images/contact__background.jpg);
}

.contact__list {
  width: 100%;
  padding-left: 0;
}

.contact__list-item {
  margin: 0 40px;
}

.footer__credits {
  padding-left: 0;
  align-self: flex-end;
}

.footer__credits-item {
  margin: 25px 0 0 0;
}

.footer__credits-item:last-of-type {
  margin-bottom: 25px;
}